{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/exec", {
            "prepareCmd": "echo ${nextRelease.version} > Sources/CLI/VERSION.txt"
        }],
        ["@semantic-release/git", {
            "assets": ["Sources/CLI/VERSION.txt"]
        }],
        "@semantic-release/github"
    ],
    "branches": ["main"]
}